<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  
  <xacro:macro name="egitim_robotu_lazer" params="xyz_konum rpy_konum">    
  <link name='laser_link'>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.025"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.025"/>
      </geometry>
    </visual>
    <xacro:cylinder_inertial radius="0.025" length="0.025" mass="0.2"/>
  </link>
  
  <joint name="base_to_laser" type="fixed">
    <origin xyz="${xyz_konum}" rpy="${rpy_konum}"/>
    <parent link="base_footprint"/>
    <child link="laser_link"/>
    <axis xyz="0 1 0"/>    
  </joint>   

  <gazebo reference="laser_link">
    <material value="Gazebo/Blue"/>
    <sensor type="gpu_ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
        <topicName>scan</topicName>
        <frameName>laser_link</frameName>
      </plugin>
    </sensor>
  </gazebo>
  </xacro:macro>
 </robot>
