<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="egitim_robotu_diferansiyel_surus">
    <gazebo>
      <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <alwaysOn>true</alwaysOn>
        <leftJoint>wheel_left_base</leftJoint>
        <rightJoint>wheel_right_base</rightJoint>
        <wheelSeparation>0.35</wheelSeparation>
        <wheelDiameter>0.20</wheelDiameter>
        <torque>50</torque>
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <robotBaseFrame>base_footprint</robotBaseFrame>
        <updateRate>10.0</updateRate>
        <legacyMode>true</legacyMode>
        <rosDebugLevel>na</rosDebugLevel>
        <publishWheelTF>false</publishWheelTF>
        <publishOdomTF>true</publishOdomTF>
        <publishWheelJointState>false</publishWheelJointState>
        <wheelAcceleration>0</wheelAcceleration>
        <wheelTorque>5</wheelTorque>
        <odometrySource>world</odometrySource>
        <publishTf>1</publishTf>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>

